// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$pink-100: #F8BBD0;
$pink-50: #FCE4EC;

/* overwritten main-nav-bar */
.navbar {
  background-color: $pink-100 !important;
}
.nav.navbar-nav a, .navbar-brand {
  color: white !important;
  transition: all 0.3s;
}

.navbar-nav .active a {
  background-color: $pink-50 !important;
}
.navbar-nav a:hover {
  background-color: $pink-50 !important;
}
.navbar-inverse {
  border-color: white !important;
}

/* main bg color */
body {
  background-color: $pink-50 !important;
}

/* border around posts */
div.white {
    background-color: white;
    color: black;
    width: 540px;
    margin: 20px auto 20px auto;
    padding: 20px;
}
